<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
  </head>
  <body
    class="font-[Poppins] flex w-full justify-center items-center bg-sky-100 mt-10"
  >
    <select
      class="block appearance-none w-32 border border-gray-300 py-2 px-3 bg-white rounded-md shadow-sm text-sm leading-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 absolute bottom-5 right-5"
      onchange="handleDropdownChange(this)"
    >
      <option>All Groups</option>
      <option
        th:each="groupe:${groupes}"
        th:value="${groupe.id}"
        th:text="${groupe.code} + ' ' + ${groupe.year}"
      ></option>
    </select>
    <th:block th:include="sidebar :: body"></th:block>
    <div
      th:switch="${students}"
      class="ml-64 relative flex flex-col w-11/12 p-5 m-10 justify-center items-center"
    >
      <a
        th:href="@{/prof/student/add}"
        class="absolute top-1 left-5 px-2 py-1 rounded font-semibold text-blue-800 bg-indigo-300 hover:bg-blue-500"
      >
        <i class="bi bi-plus-circle mr-2 text-lg"></i>Add new
      </a>
      <h2 th:case="null" class="text-xl font-semibold my-4">
        No Data To Display!
      </h2>
      <div th:case="*" class="w-full text-center">
        <h2
          class="text-2xl font-semibold my-8 w-full py-2 bg-blue-200 rounded-lg text-blue-800 shadow-2xl"
        >
          Gestion des etudiants
        </h2>
        <div class="grid grid-cols-4 gap-10 w-full">
          <div
            th:each="student, stat : ${students}"
            class="relative w-full justify-center items-center flex flex-col bg-blue-200 rounded-lg shadow-2xl p-3 cursor-pointer transition ease-in-out delay-150"
            th:onclick="showStudentPws([[${student.id}]])"
          >
            <div class="px-2 pt-2 pb-2 mb-2 w-1/3" style="height: 50%">
              <img
                th:if="${encodedPhotos != null && stat != null && encodedPhotos[stat.index] != null && encodedPhotos[stat.index] != ''}"
                th:src="'data:image/jpeg;base64,' + ${encodedPhotos[stat.index]}"
                alt="Etudiant Photo"
                style="max-height: 100%; width: auto; border-radius: 30%"
              />
            </div>
            <span class="text-center mb-3">
              <p
                th:text="${student.firstName}"
                class="text-sm text-gray-400"
              ></p>
              <p
                th:text="${student.lastName}"
                class="text-sm text-gray-400"
              ></p>
              <p th:text="${student.number}" class="text-sm text-gray-400"></p>
              <p th:text="${student.email}" class="text-sm text-gray-400"></p>
              <p
                th:text="${student.groupe.code + ' ' + student.groupe.year}"
                class="text-sm text-gray-400"
              ></p>
              <span class="flex space-x-2">
                <p>PWs:</p>
                <div th:if="${not #lists.isEmpty(student.groupe.pws)}">
                  <p
                    class="text-sm text-gray-400"
                    th:each="pw : ${student.groupe.pws}"
                    th:text="${pw.title + '-'}"
                  ></p>
                </div>
                <div th:if="${#lists.isEmpty(student.groupe.pws)}">
                  <p class="text-sm text-gray-400">No TP found</p>
                </div>
              </span>
            </span>

            <a
              href="#"
              th:onclick="'javascript:showDeleteConfirmation(\'' + ${student.id} + '\')'"
            >
              <i
                class="bi bi-trash-fill absolute bottom-1 right-2 text-lg text-rose-900 hover:text-rose-600 hover:scale-125"
              ></i>
            </a>

            <a th:href="@{/prof/student/edit/{id}(id=${student.id})}">
              <i
                class="bi bi-pencil-square absolute top-1 right-2 text-lg text-blue-600 hover:text-blue-700 hover:scale-125"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <div
        th:if="${mode eq 'add' or mode eq 'update'} "
        class="fixed top-0 left-0 w-full min-h-screen flex items-center justify-center z-50 backdrop-blur-sm"
      >
        <div
          class="relative h-screen-3/4 py-4 w-2/4 md:w-1/2 lg:w-1/3 xl:w-1/4 bg-blue-200 border-4 border-violet-700 rounded-lg flex items-center justify-center shadow-xl border border-gray-300"
        >
          <form
            th:action="${mode eq 'add' ? '/prof/student/addstudent' : '/prof/student/update/' + student.id}"
            th:object="${student}"
            method="post"
            enctype="multipart/form-data"
            class="w-full flex flex-col items-center justify-center"
          >
            <input type="text" hidden="hidden" th:field="*{id}" />

            <span th:switch="${mode}" class="text-violet-600">
              <p th:case="'add'" class="text-lg font-semibold mb-3">
                Add student
              </p>
              <p th:case="'update'" class="text-lg font-semibold mb-3">
                Update student
              </p>
            </span>

            <div class="mb-4 px-10">
              <label
                for="photo"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Photo:</label
              >
              <input
                id="photo"
                name="photoFile"
                type="file"
                accept="image/*"
                class="text-sm py-2 px-3 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4">
              <label
                for="username"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Username:</label
              >
              <input
                id="username"
                th:field="*{userName}"
                type="text"
                placeholder="Enter username"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />

              <input
                id="password"
                th:field="*{password}"
                type="text"
                hidden
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4 px-10">
              <label
                for="firstName"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >First name:</label
              >
              <input
                id="firstName"
                th:field="*{firstName}"
                type="text"
                placeholder="Enter first name"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4 px-10">
              <label
                for="lastName"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Last name:</label
              >
              <input
                id="lastName"
                th:field="*{lastName}"
                type="text"
                placeholder="Enter last name"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4 px-10">
              <label
                for="Email"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Email:</label
              >
              <input
                id="email"
                th:field="*{email}"
                type="text"
                placeholder="Enter email"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4 px-10">
              <label
                for="number"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Number:</label
              >
              <input
                id="number"
                th:field="*{number}"
                type="number"
                placeholder="Enter number"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>

            <div class="mb-4 px-10">
              <label
                for="number"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Groupe:</label
              >
              <select
                id="groupe"
                th:field="*{groupe.id}"
                class="rounded text-xs py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              >
                <option value="">Choose group</option>
                <option
                  th:each="groupe:${groupes}"
                  th:value="${groupe.id}"
                  th:text="${groupe.code} + ' ' + ${groupe.year}"
                ></option>
              </select>
            </div>

            <span>
              <button
                type="submit"
                class="bg-indigo-50 text-yellow-700 font-medium px-3 py-1 rounded-md hover:bg-indigo-400"
              >
                Submit
              </button>
              <a
                href="/prof/student"
                class="absolute top-2 right-2 text-yellow-600"
              >
                <i class="bi bi-x-lg"></i>
              </a>
            </span>
          </form>
        </div>
      </div>

      <div
        id="deleteConfirmation"
        class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 backdrop-blur-sm hidden"
      >
        <div
          class="relative h-1/5 w-1/4 bg-blue-200 border-4 border-violet-700 rounded-lg flex items-center justify-center shadow-xl border border-gray-300"
        >
          <form
            id="deleteForm"
            th:action="@{/prof/student/delete/}"
            method="get"
            class="w-full flex flex-col items-center justify-center"
          >
            <input type="hidden" id="deleteId" name="id" />
            <span class="text-violet-600">
              <p class="text-xl font-semibold mb-4">
                Are you sure you want to delete?
              </p>
            </span>
            <span>
              <button
                type="submit"
                class="bg-rose-200 text-rose-700 font-medium px-4 py-1.5 rounded-md hover:bg-rose-400 mr-4"
              >
                Delete
              </button>
              <button
                type="button"
                onclick="cancelDelete"
                class="bg-yellow-200 text-yellow-700 font-medium px-4 py-1.5 rounded-md hover:bg-yellow-400 ml-4"
              >
                Cancel
              </button>
            </span>
          </form>
        </div>
      </div>

      <script th:inline="javascript">
        function showDeleteConfirmation(id) {
          var deleteConfirmation =
            document.getElementById("deleteConfirmation");
          deleteConfirmation.classList.remove("hidden");
          var deleteIdField = document.getElementById("deleteId");
          deleteIdField.value = id;
          document.getElementById("deleteForm").action =
            "/prof/student/delete/" + id;
        }

        function cancelDelete() {
          var deleteConfirmation =
            document.getElementById("deleteConfirmation");
          deleteConfirmation.classList.add("hidden");
        }

        function handleDropdownChange(selectElement) {
          var selectedValue = selectElement.value;
          console.log(selectedValue);
          if (selectedValue) {
            window.location.href =
              "http://localhost:8080/prof/student/" + selectedValue;
          }
        }

        function showStudentPws(id) {
          window.location.href =  "http://localhost:8080/prof/student/pws/" +id;
        }
      </script>
    </div>
  </body>
</html>
