<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
  </head>

  <body
    class="font-[Poppins] flex w-full justify-center items-center bg-sky-100 mt-10"
  >
    <th:block th:include="sidebar :: body"></th:block>
    <div
      th:switch="${groupes}"
      class="ml-64 relative flex flex-col w-10/12 p-5 m-10 justify-center items-center"
    >
      <a
        href="/prof/groupe/add"
        class="absolute top-1 left-5 px-2 py-1 rounded font-semibold text-blue-800 bg-indigo-300 hover:bg-blue-500"
      >
        <i class="bi bi-plus-circle mr-2 text-lg"></i>Add new
      </a>
      <h2 th:case="null" class="text-xl font-semibold my-4">
        No Data To Display!
      </h2>
      <div th:case="*" class="w-full text-center">
        <h2
          class="text-2xl font-semibold my-8 w-full py-2 bg-blue-200 rounded-lg text-blue-800 shadow-2xl"
        >
          List de groupes
        </h2>
        <div class="grid grid-cols-4 gap-10 w-full">
          <div
            th:each="groupe : ${groupes} "
            class="relative w-full justify-center items-center flex flex-col bg-blue-200 rounded-lg shadow-2xl p-3"
          >
            <span class="text-center mb-3">
              <p
                th:text="${groupe.code}"
                class="font-semibold text-lg text-blue-800"
              ></p>
              <p th:text="${groupe.year}" class="text-sm text-gray-400"></p>
              <p
                th:if="${groupe.professor != null}"
                th:text="${groupe.professor.userName}"
                class="text-sm text-gray-400"
              ></p>
              <span class="flex space-x-2">
                <!-- Itérer sur les PWs associés au groupe -->
                <p class="text-sm text-gray-400" th:each="pw : ${groupe.pws}" th:text="${pw.title}+'-'"></p>
            </span>
            </span>

            <a
              href="#"
              th:onclick="'javascript:showDeleteConfirmation(\'' + ${groupe.id} + '\')'"
            >
              <i
                class="bi bi-trash-fill absolute bottom-1 right-2 text-lg text-rose-900 hover:text-rose-600 hover:scale-125"
              ></i>
            </a>

            <a th:href="@{/prof/groupe/edit/{id}(id=${groupe.id})}">
              <i
                class="bi bi-pencil-square absolute top-1 right-2 text-lg text-blue-600 hover:text-blue-700 hover:scale-125"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <div
        th:if="${mode eq 'add' or mode eq 'update'} "
        class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 backdrop-blur-sm"
      >
        <div
          class="relative h-3/5 w-1/4 bg-blue-200 border-4 border-violet-700 rounded-lg flex items-center justify-center shadow-xl border border-gray-300"
        >
          <form
            th:action="${mode eq 'add' ? '/prof/groupe/addgroupe' : '/prof/groupe/update/' + groupe.id}"
            th:object="${groupe}"
            method="post"
            class="w-full flex flex-col items-center justify-center"
          >
            <input type="text" hidden="hidden" th:field="*{id}" />
            <span th:switch="${mode}" class="text-violet-600">
              <p th:case="'add'" class="text-xl font-semibold mb-4">
                Add groupe
              </p>
              <p th:case="'update'" class="text-xl font-semibold mb-4">
                Update groupe
              </p>
            </span>

            <div class="mb-4">
              <label
                for="code"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Code:</label
              >
              <input
                id="code"
                th:field="*{code}"
                type="text"
                placeholder="Enter your code"
                class="rounded text-sm py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>
            <div class="mb-4 px-10">
              <label
                for="year"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >Year:</label
              >
              <input
                id="year"
                th:field="*{year}"
                type="text"
                placeholder="Enter your year"
                class="rounded text-sm py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              />
            </div>
            <div class="mb-4 px-10">
              <label
                for="pw"
                class="block text-sm font-medium text-gray-500 font-semibold"
                >PWs:</label
              >
              <input hidden id="dabab" name="dabab" />
              <select
                id="pw"
                th:field="*{pws}"
                multiple
                class="rounded text-sm py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700"
              >
                <option value="">Choose your pws</option>
                <option
                  th:each="pw:${pws}"
                  th:value="${pw.id}"
                  th:text="${pw.title}"
                ></option>
              </select>
            </div>
            <div class="mb-4 px-10">
              <input
                type="hidden"
                name="professor.id"
                th:value="${authenticatedProf.id}"
              />
            </div>
            <span>
              <button
                type="submit"
                class="bg-indigo-50 text-yellow-700 font-medium px-4 py-1.5 rounded-md hover:bg-indigo-400"
              >
                Submit
              </button>
              <a
                href="/prof/groupe"
                class="absolute top-2 right-2 text-yellow-600"
              >
                <i class="bi bi-x-lg"></i>
              </a>
            </span>
          </form>
        </div>
      </div>

      <div
        id="deleteConfirmation"
        class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 backdrop-blur-sm hidden"
      >
        <div
          class="relative h-1/5 w-1/4 bg-blue-200 border-4 border-violet-700 rounded-lg flex items-center justify-center shadow-xl border border-gray-300"
        >
          <form
            id="deleteForm"
            th:action="@{/prof/groupe/delete/}"
            method="get"
            class="w-full flex flex-col items-center justify-center"
          >
            <input type="hidden" id="deleteId" name="id" />
            <span class="text-violet-600">
              <p class="text-xl font-semibold mb-4">
                Are you sure you want to delete?
              </p>
            </span>
            <span>
              <button
                type="submit"
                class="bg-rose-200 text-rose-700 font-medium px-4 py-1.5 rounded-md hover:bg-rose-400 mr-4"
              >
                Delete
              </button>
              <button
                type="button"
                onclick="cancelDelete()"
                class="bg-yellow-200 text-yellow-700 font-medium px-4 py-1.5 rounded-md hover:bg-yellow-400 ml-4"
              >
                Cancel
              </button>
            </span>
          </form>
        </div>
      </div>

      <script th:inline="javascript">
        function showDeleteConfirmation(id) {
          var deleteConfirmation =
            document.getElementById("deleteConfirmation");
          deleteConfirmation.classList.remove("hidden");
          var deleteIdField = document.getElementById("deleteId");
          deleteIdField.value = id;
          document.getElementById("deleteForm").action =
            "/prof/groupe/delete/" + id;
        }

        function cancelDelete() {
          var deleteConfirmation =
            document.getElementById("deleteConfirmation");
          deleteConfirmation.classList.add("hidden");
        }
        new MultiSelectTag("pw", {
          rounded: true, // default true
          shadow: true, // default false
          placeholder: "Search", // default Search...
          tagColor: {
            textColor: "#327b2c",
            borderColor: "#92e681",
            bgColor: "#eaffe6",
          },
          onChange: function (values) {
            // Obtenez une liste des valeurs "value" en parcourant les éléments sélectionnés
            var selectedValues = values.map(function (item) {
              return item.value;
            });

            // Mettez à jour la valeur de l'élément hidden avec le tableau de valeurs
            document.getElementById("dabab").value =
              JSON.stringify(selectedValues);

            // Affichez la valeur de l'élément hidden dans la console
            console.log(
              "Value of dabab:",
              document.getElementById("dabab").value
            );

            // Affichez les valeurs sélectionnées dans le select multiple dans la console
            console.log("Selected values:", selectedValues);
          },
        });
      </script>
    </div>
  </body>
</html>
