<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tailwind CSS Example</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-50 dark:bg-slate-900">
    <!-- Sidebar -->
    <div
      id="application-sidebar"
      th:fragment="body"
      class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 start-0 bottom-0 z-[60] w-64 bg-white border-e border-gray-200 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 dark:bg-gray-800 dark:border-gray-700"
    >
      <div
        class="flex items-center justify-center dark:bg-gray-800 h-20 rounded-t-lg"
      >
        <div class="relative flex items-center">
          <a th:href="@{'data:image/jpeg;base64,' + ${profImage}}" download>
            <img
              th:if="${profImage != null}"
              th:src="@{'data:image/jpeg;base64,' + ${profImage}}"
              alt="Admin Image"
              class="rounded-full h-12 w-12 object-cover"
            />
          </a>
          <img
            th:unless="${profImage != null}"
            th:src="@{/images/person.png}"
            alt="Default Image"
            class="rounded-full h-12 w-12 object-cover"
          />

          <span
            class="absolute bottom-0 right-0 block h-3 w-3 border-2 border-white bg-green-500 rounded-full"
          ></span>
        </div>

        <div class="ml-3">
          <span class="block text-sm font-medium text-black">
            <span class="block text-sm font-medium text-black">
              <span
                th:if="${authenticatedProf != null}"
                th:text="Pr."
                class="dark:text-white"
              ></span>
              <span
                th:if="${authenticatedProf != null}"
                th:text="${authenticatedProf.firstName}"
                class="dark:text-white"
              ></span>
              <span
                th:if="${authenticatedProf != null}"
                th:text="${authenticatedProf.lastName}"
                class="dark:text-white"
              ></span>
            </span>
          </span>
        </div>
      </div>

      <nav
        class="hs-accordion-group p-6 w-full flex flex-col flex-wrap"
        data-hs-accordion-always-open
      >
        <ul class="space-y-1.5">
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                <polyline points="9 22 9 12 15 12 15 22" />
              </svg>
              Dashboard
            </a>
          </li>

          <!-- Gestion des étudiants -->
          <li class="dark:hover:text-black">
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
              th:href="@{/prof/student}"
            >
              <!-- SVG icon with additional classes for styling -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"
                />
                <path
                  d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"
                />
              </svg>

              <!-- Contenu du lien pour la gestion des étudiants -->
              Gestion des étudiants
            </a>
          </li>

          <!-- Gestion des groupes -->
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
              th:href="@{/prof/groupe}"
            >
              <svg
                class="w-[16px] h-[16px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 19"
              >
                <path
                  d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"
                />
                <path
                  d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"
                />
              </svg>
              <!-- Contenu du lien pour la gestion des groupes -->
              Gestion des groupes
            </a>
          </li>

          <!-- Gestion des dents -->
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
              th:href="@{/prof/tooth}"
            >
              <svg
                class="w-[16px] h-[16px]"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 511.998 511.998"
                xml:space="preserve"
              >
                <path
                  style="fill: #ffffff"
                  d="M298.889,28.749c-26.986,13.989-58.794,13.989-85.78,0C122.772-18.081,13.88,47.538,13.88,150.02
	c0,75.392,61.116,348.638,136.508,348.638c28.512,0,54.982-39.082,76.877-91.763c10.6-25.506,46.867-25.506,57.467,0
	c21.895,52.68,48.365,91.763,76.877,91.763c75.392,0,136.508-273.246,136.508-348.638C498.117,47.376,389.049-17.99,298.889,28.749z
	"
                />
                <g>
                  <path
                    style="fill: #58595b"
                    d="M292.75,16.905c-23.012,11.931-50.491,11.928-73.501,0C119.821-34.64,0.538,37.98,0.538,150.02
		c0,70.51,58.455,361.978,149.849,361.978c32.059,0,61.235-32.705,89.198-99.983c6.045-14.544,26.783-14.548,32.828,0
		c27.963,67.278,57.138,99.983,89.198,99.983c90.498,0,149.849-289.225,149.849-361.978
		C511.458,38.017,392.217-34.662,292.75,16.905z M361.609,485.317c-18.961,0-42.491-30.449-64.556-83.543
		c-15.163-36.478-66.94-36.496-82.109,0.002c-22.064,53.091-45.595,83.541-64.556,83.541c-58.446,0-123.166-252.499-123.166-335.295
		c0-92.19,98.156-151.721,179.746-109.427c30.702,15.916,67.36,15.916,98.062,0c81.506-42.252,179.744,17.15,179.744,109.427
		C484.775,232.462,420.098,485.317,361.609,485.317z"
                  />
                  <path
                    style="fill: #58595b"
                    d="M435.855,136.679c-7.368,0-13.342,5.972-13.342,13.342c0,22.275-9.158,85.64-29.516,156.764
		c-2.028,7.082,2.071,14.47,9.154,16.496c7.053,2.028,14.464-2.049,16.498-9.154c21.069-73.606,30.546-140.274,30.546-164.105
		C449.197,142.652,443.223,136.679,435.855,136.679z"
                  />
                  <path
                    style="fill: #58595b"
                    d="M150.388,62.434c-48.295,0-87.588,39.291-87.588,87.586c0,7.37,5.974,13.342,13.342,13.342
		s13.342-5.972,13.342-13.342c0-33.582,27.32-60.902,60.904-60.902c7.368,0,13.342-5.972,13.342-13.342
		S157.756,62.434,150.388,62.434z"
                  />
                </g>
              </svg>
              <!-- Contenu du lien pour la gestion des dents -->
              Gestion des dents
            </a>
          </li>

          <!-- Gestion des TPs -->
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
              th:href="@{/prof/pw}"
            >
              <svg
                class="w-[16px] h-[16px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.7"
                  d="M1 5v11a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H1Zm0 0V2a1 1 0 0 1 1-1h5.443a1 1 0 0 1 .8.4l2.7 3.6H1Z"
                />
              </svg>
              <!-- Contenu du lien pour la gestion des TPs -->
              Gestion des TPs
            </a>
          </li>

          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-black"
              th:href="@{/prof/profil}"
            >
              <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16"
                class="w-[16px] h-[16px]"
              >
                <path
                  d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM6.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM3.014 13.021l.157-.625A3.427 3.427 0 0 1 6.5 9.571a3.426 3.426 0 0 1 3.322 2.805l.159.622-6.967.023ZM16 12h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Z"
                />
              </svg>
              <!-- Contenu du lien pour la modification du profil -->
              Modification du profil
            </a>
          </li>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />

          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hover:text-white dark:hover:bg-red-900"
              th:href="@{/logout}"
            >
              <svg
                class="w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M13 2L20 9 13 16M20 9H2" />
              </svg>
              Deconnexion
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
